---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="CTX Handy Hands | About Us">
	<main>
		<Hero 
			title="CTX Handy Hands"
			subtitle="Your Trusted Partner in Home Improvement and Repair"
			content="<b>Welcome to CTX Handy Hands</b> – your go-to experts for making your home the best it can be. With a focus on quality, reliability, and customer satisfaction, we tackle your home to-do list so you don't have to!"
			cta={{
				text: 'Get a Quote',
				link: '/contact'
			}}
		/>
	</main>
</Layout>

<style>

</style>
