---
interface Props {
	title: string;
	subtitle: string;
	content: string;
  cta: {
    link: string;
    text: string;
  };
}

const { title, subtitle, content, cta } = Astro.props;
---

<div class="hero">
  <div class="hero__content">
    <h1 class="hero__title">{ title }</h1>
    <h2 class="hero__subtitle">{ subtitle }</h2>
    <p class="hero__text" set:html={ content }></p>
    <a class="hero__cta" href={ cta.link }>{ cta.text }</a>
  </div>
  <img src="/herobg.png" alt="">
</div>

<style>
.hero {
    background: linear-gradient(180deg, #FAF4EE 0%, rgba(255, 255, 255, 0.00) 100%);
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 160px;
}
.hero__content {
		max-width: 1024px;
		margin: 0 auto 0 245px;
    
	}
  .hero__title {
    color: #0D0F11;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 95%;
    text-transform: uppercase;
    margin: 0;
  }

  .hero__subtitle {
    color: #260D05;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .hero__text {
    color: #260D05;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .hero__cta {
    background-color: #D85C22;
    display: block;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 20px;
    width: 200px;
    border-radius: 0.5rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }

  .hero__cta:hover {
    background-color: white;
    color:  #D85C22;
    text-decoration: none;
    box-shadow: 4px 4px 12px #00000040;
    /* scale up */
    transform: scale(1.1);
  }
</style>