---
import Button from './Button.astro';
import {  slide } from 'astro:transitions';
interface Props {
	title: string;
	subtitle: string;
	content: string;
  cta: {
    link: string;
    text: string;
  };
}

const { title, subtitle, content, cta } = Astro.props;
---

<div class="hero" transition:animate={slide({ duration: '0.6s' })}>
  <div class="hero__content">
    <h1 class="hero__title">{ title }</h1>
    <h2 class="hero__subtitle">{ subtitle }</h2>
    <p class="hero__text" set:html={ content } />
    <Button 
      classes='primary' 
      elementKind='link' 
      href={ cta.link }
      text={ cta.text }
    />
  </div>
  <img src="/herobg.png" alt="">
</div>

<style>
.hero {
  background: var(--page-bg-gradient);
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero__content {
		max-width: 1024px;
		margin: 0 auto 0 245px;
    
	}
  .hero__title {
    color: var(--black);
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 95%;
    text-transform: uppercase;
    margin: 0;
  }

  .hero__subtitle {
    color: var(--black);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .hero__text {
    color: var(--black);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

 
</style>