---
import { ViewTransitions, fade } from 'astro:transitions';
import Nav from '../components/Nav.astro';
import { getCollection, getEntry } from 'astro:content';

const siteSettings = await getCollection('siteSettings');
console.log(siteSettings);
interface Props {
	title: string;
}



const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@700&display=swap" rel="stylesheet">
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Nav 
			links={siteSettings[0].data.nav}
			lastElement={true}
			lastElementButton={{
				href: '/contact',
				text: 'Call Now'
			}}
			logo={{
				href: '/',
				image: '/logo.svg',
			}}
		/>
		<div class="pt-dt-nav" transition:animate={fade({ duration: '0.4s' })}>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	* {
		box-sizing: border-box;
	}
	html,
	body {
		margin: 0;
		padding: 0;
	}

	:root {
		--primary: #3868e1;
		--secondary: #fff;
		--tertiary: #FAF4EE;
		--linear-bg: linear-gradient(180deg, var(--tertiary) 0%, rgba(255, 255, 255, 0.00) 100%); 
		--black: #001a2a;
		--prime-black: linear-gradient(26deg, var(--black) 0%, var(--primary) 100%);
		--prime-black-reverse: linear-gradient(26deg, var(--primary) 0%, var(--black) 100%);
		--dt-nav-height: 100px;
		--page-bg-gradient: linear-gradient(180deg, var(--tertiary) 0%, rgba(255, 255, 255, 0.00) 100%);
	}

	.pt-dt-nav {
		padding-top: var(--dt-nav-height);
	}

</style>
